<?xml version='1.0' encoding='utf-8'?>
<manifest
    package="angou.sana">
    <uses-sdk
        android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application 
        
        android:label="ModMenu">
        <activity
            android:name="angou.Main"
            android:resizeableActivity="false"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>

